<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantorg.orgrestaurant" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrgRestaurant" >
        <activity
            android:name="Menu.AppetizerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name="Menu.DessertMenuActivity"
            android:exported="false" />
        <activity
            android:name=".TableActivity"
            android:exported="false" />
        <activity
            android:name=".BillActivity"
            android:exported="false" />
        <activity
            android:name="Menu.WineMenuActivity"
            android:exported="false" />
        <activity
            android:name="Menu.FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name="Menu.DrinksMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AddMenuItemActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantMenuActivity"
            android:exported="false" />
        <activity
            android:name=".StaffTablesActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".StaffLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>